ul{
    list-style: none;
}

.gallery{
display: flex;
flex-wrap: wrap;
gap: 16px;
cursor:zoom-in;
}

.galleryItem {
    width: 300px;
    height: 250px;
    overflow: hidden;
    flex-basis: calc((100% - 48px) / 3);
    transition: transform 250ms ease-in-out;
}

.galleryItem:hover {
transform: scale(1.03)
}

.galleryItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}