.loadMoreBtn {
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    background-color: #0092b3;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loadMoreBtn:hover {
    background-color: blue;
}